.mypage
  .user_sidebar
    .crearfix
      .user_image
        = image_tag current_user.avatar.thumb.url
      .user_name
        = current_user.username
    .button-mypage
      = link_to "friends", root_path, class: "text-decoration white-text"
    .mypage-search
      = form_tag('users/search', method: :get) do
        = text_field_tag :search, "", id: "inc_search", class: "search_query", name: "keyword", placeholder: "search friends!"
    #search_list
    .friends_area
      = render partial: 'following_users', collection: @following_users
    .button_sign_out
      = link_to "sign out", destroy_user_session_path, method: :delete, class: "button"
  .calendar
    #calendar
    %input#page_set{name: "page[set]", type: "hidden", value: "#{current_user.id}"}/

