.new-page
  = form_for [current_user, @memory] do |f|
    = f.submit "write", class: "button-new"
    .thumb_form
      .cover-image-upload#preview
        = f.file_field :image
    .write_form
      .post-search
        = text_field_tag :search, "", id: "inc_search", class: "post_search_query", name: "keyword", placeholder: "search friends!"
      #search_list
      .post-friend
        = f.text_field :no_user_friend, placeholder: :"user name", class: "post-friend"
      #tag-friends
      .write_diary
        = f.text_area :text, placeholder: :"write a diary", class: "write_diary"
        = f.hidden_field :date, value: "#{params[:date]}"
